.profile {
  padding: 20px 10px;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  color: black;
}

.profile.hasPhisicalAddress {
    border: 2px solid rgb(208, 1, 187);
    background-color: rgba(208, 1, 187, 0.2);
}