.form {
    border: 1px solid black;
    padding: 20px;
}

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.checkboxLabel {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 20px;
}
.statusWrapper {
    display: flex;
    align-items: center;
}
.submitBtn {
    border: none;
    margin: 0 auto;
    padding: 10px 20px;
    min-width: 140px;
    border-radius: 15px;
    background-color: #aeaeae;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
