
.section {
    padding: 70px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 25px;
    margin-top: 0;
    padding-left: 15px;
}